<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BC Movers</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
    integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container homepage_nav">
      <div class="navbar-header">
        <a class="navbar-brand" href="/homepage">BC Movers</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">FOR-HIRE</a></li>
        <li id="move"><a href="/moves">JOB-BOARD</a></li>
        <li id="about"><a href="/compose">MOVERS-BOARD</a></li>
        <li id="index"><a href="/bitcoin">RATES</a></li>
        <li id="contact"><a href="/contact">CONTACT-US</a></li>
      </ul>
    </div>
  </nav>

<body>
  <!-- <div class="container"> -->