<%- include("partials/header"); -%>

<img src="/images/Vancouver-Skyline.jpg" class="img_homepage" alt="">
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
    integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>



<section class="white-section" id="features">
    <div class="container-fluid homepage_one">
        <div class="row">
            <!-- This is going to be my class row where my columns will be held inside. -->
            <div class="col-lg-4 col-md-12 feature-box">
                <!-- Column 1 -->
                <i class="fas fa-people-carry fa-4x"></i>
                <h3 class="feature-title">Experienced Movers.</h3>
                <p>BC Movers has been moving families, individuals, and businesses in Vancouver, the Lower
                    Mainland, and
                    throughout BC for over 15 years</p>
            </div>
            <div class="col-lg-4 col-md-12 feature-box">
                <!-- Column 2 -->
                <i class="fas fa-truck-moving fa-4x"></i>
                <h3 class="feature-title">Anyplace, anytime, anywhere!</h3>
                <p>No matter what size the scale of your move is, BC Movers has the resources and experience
                    to handle
                    it. </p>
            </div>
            <div class="col-lg-4 col-md-12 feature-box">
                <!-- Column 3 -->
                <i class="fas fa-handshake fa-4x"></i>
                <h3 class="feature-title">Guaranteed no broken belongings!</h3>
                <p>If we break it, we pay for it!</p>
            </div>
        </div>
    </div>
</section>




<section class="dark-blue" id="testi">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel_title">Testimonial</h3>
                </div>
                <img class="testimonial-image" src="images/terminator.jpg" alt="lady-profile">
                <div class="panel-body">
                    I'm moving into my End of the World Bunker, and i needed BC movers at 1am.
                    They showed up with smiles and open arms and moved me in right away!
                </div>
                <div class="panel-footer"><em>The Terminator, New York</em></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel_title">Testimonial</h3>
                </div>
                <img class="img_javahut" src="images/javahut.jpeg" alt="helga-profile">
                <div class="panel-body">
                    I had a huge move to the Death Star, and BC Movers made it easy for me to
                    move all my belongs.
                </div>
                <div class="panel-footer"><em>Java-The-Hut, Tatooine</em></div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->

<section class="bio_homepage" id="bioblurb">
    <div class="container-fluid homepage_one">
        <div class="panel panel-default">
            <div class="panel-body front_bio">
                BC Movers has been moving families, individuals, and businesses in Vancouver, the Lower Mainland,
                and
                throughout BC for over 15 years.

                No matter what size the scale of your move is, BC Movers has the resources and experience to handle
                it.

                Moving to Vancouver Island? Get onboard with BC Movers. We schedule daily/weekly trips to Vancouver
                Island.

                <a href="/bitcoin/">Click here to obtain a quote online.</a>

                Call us at <strong> 604-317-1986 </strong>to receive a quote over the phone.
            </div>
        </div>
    </div>
</section>


<section class="footer-bio" id="footer_notes">
    <div class="container-fluid homepage_one">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <strong style="color:black"> Company Name </strong><br>
                        BC Movers <br>
                        <br>
                        <strong style="color:black"> Address </strong> <br>

                        1090 Homer Street, Suite 300 <br>
                        Vancouver BC <br>
                        V6B 2W9 <br>
                        <br>
                        <strong style="color:black">Hours of Operation</strong> <br>

                        Mondays – Fridays 8AM – 9PM. <br>
                        Saturday & Sunday 8AM – 6 PM <br>
                        <br>
                        <strong style="color:black">Phone Number</strong> <br>
                        (604)317-1986 </strong></li>

                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <strong style="color:black"> Services </strong><br>
                        <br>
                        <strong>Local & Residential Movers <br>
                            Long Distance Movers <br>
                            Office Movers <br>
                            Storage and Warehousing <br>
                            <br>
                            <strong style="color:black"> Accepted Payment Types</strong> <br>
                            Cash, Interac, VISA, Mastercard<br>
                            <br>
                            <strong style="color:black"> Price Range </strong><br>
                            $$

                </ul>
            </div>

            <div class="col-sm-6 col-md-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <strong style="color:black">Areas </strong>
                        <br>
                        <br>
                        <strong>
                            Vancouver, Burnaby, Richmond, North Vancouver, West Vancouver, New Westminster, Maple
                            Ridge,
                            Port
                            Coquitlam,
                            Gibsons, White Rock, Surrey, Victoria, Pitt Meadows, Delta, Langley, and Squamish.</strong>
                        <br>
                        <br>
                        <strong style="color:black">E-Mail</strong> <br>
                        operations@bcmovers.com

                </ul>
            </div>

            <div class="col-sm-6 col-md-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <strong style="color:black">About Us</strong> <br>
                        <br>
                        <strong> BC Movers is a local moving located in Vancouver, British Columbia. <br> Our company
                            provides
                            residential
                            and
                            corporate moving services throughout the lower mainland. <br> We're a professional moving
                            company
                            that
                            is fully
                            insured for freight and general liability. <br> Our trucks are equipped to handle moves
                            small,
                            medium
                            and
                            large
                        </strong>
                        <br>
                        <br>
                        Click Here for our Privacy Policy

                </ul>
            </div>
        </div>
    </div>
</section>

<footer class="white-section" id="copyright">
    <div class="container-fluid homepage_one">
        <div class="footer-icons">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fas fa-envelope"></i>
            <p class="copy-right">© Copyright BC Movers</p>
        </div>
    </div>

</footer>



<%- include("partials/footer"); -%>