<%- include("partials/header"); -%>


<section class="white-section" id="posts_background">
    <div class="overlay">
        <div class="panel panel-info posts_post">

            <div class="panel-heading post_heading">
                <h1><%=post.title%></h1>
            </div>
            <div class="panel-body">
                <p>
                    <%=post.content%>
                </p>
            </div>


        </div>
    </div>
</section>


<%- include("partials/footer"); -%>